.bottle-container {
  position: relative;
  height: 192px;
  width: 66px;
}

.bottle-container .mask {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  height: 100%;
  width: 100%;
  
  -webkit-clip-path: url(#bottle);
  clip-path: url(#bottle);
  background: #ffffff;
}


.bottle-container .mask .fill {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #55C0F3;
  height: 0%;
  /* Adjust height for desired progress */
  width: 100%;
  transition: height 3s ease-in-out; /* Adjust speed of progress */
}

svg.bottle {
  position: absolute;
  top: 0;
  left: 0;
}