@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}


@supports(padding:max(0px)) {
	body {
		/* new syntax iOS 11.2+ */
		padding-left:  max(1em, env(safe-area-inset-left));
		padding-right: max(1em, env(safe-area-inset-right));
	}
}

.scroll-wrapper {
  overflow-y: auto; /* Allow vertical scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.scroll-wrapper::-webkit-scrollbar {
  display: none !important; /* For Chrome, Safari, and Opera */
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none;
}


@layer components {
  #gradient-canvas {
    width: 100vw;
    height: 100vh;
    --gradient-color-1: #c3e4ff;
    --gradient-color-2: #6ec3f4;
    --gradient-color-3: #4857ff;
    --gradient-color-4: #82b8ff;
  }
}

.textIconWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  border-radius: 1rem; /* or use 'rounded-xl' if preferred */
  padding: 0.5rem;
  margin: 0;
  /* wrap */
  /* min-width: 9rem; */
  text-wrap: nowrap;
  transition: all 0.2s ease-in-out;
}


.textIconWrapper:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.48); /* Add the hover shadow effect */
}
